1) Начнём с простого - сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [2]:
age = 21
name = "Ilya"

2) Создайте список user_info, содержащий 2 строки (имя и фамилия пользователя), 1 дробное число (зарплата) и 1 целое число (стаж)

In [3]:
user_info = ['Ilya', 'Zadvorniy', 560.4, 1]

3) Поместите в переменную first первый (то есть нулевой) элемент из списка salaries

In [6]:
first = user_info[0]
first

'Ilya'

4) Добавьте в список users элементы 'Voronov' и 42

In [36]:
users = []

In [37]:
users.extend(['Voronov', 42])

In [38]:
users

['Voronov', 42]

5) В переменной user_ages содержится список возрастов клиентов. Напишите петлю, выводящую на печать возраста, которые больше 18
Пример данных, которые могут быть в user_ages
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
Note: в этом задании нужно печатать эти числа

In [40]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
for el in user_ages:
    if el > 18:
        print(el)

21
35
42
27

6) Напишите программу, проверяющую стаж работы сотрудника. В переменной worker содержится список, содержащий значения как во 2-ом задании (имя, фамилия, зарплата, стаж). Поместите в переменную status такую строку

user_name user_family is position

где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк

'junior' - стаж меньше 2 лет
'middle' - стаж больше либо равен 2 лет
'senior' - стаж больше 5 лет 
Пример данных, которые могут быть в worker

worker = ['Olya', 'Silyutina', 350000, 3]
Hint: печатать результат не нужно, просто задайте его в переменную status

In [42]:
worker = [['Olya', 'Silyutina', 350000, 3], ['Ilya', 'Zadvorniy', 560.4, 1]]
for el in worker:
    if el[3] < 2:
        position = 'junior'
    elif el[3] <= 5:
        position = 'middle'
    else: 
        position = 'senior'
    print(f'Имя разработчика - {el[0]}, фамилия - {el[1]}, его позиция - {position}')

Имя разработчика - Olya, фамилия - Silyutina, его позиция - middle
Имя разработчика - Ilya, фамилия - Zadvorniy, его позиция - junior

7) В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело
Пример данных, которые могут быть в values
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [45]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
result = []
for el in values:
    if el % 10 == 0:
        result.append(el)
result

[10, 100, 20, 50, 160, 210]

8) ⭐️Задание со звёздочкой!⭐️
Реализуйте цикл, который пробегается по списку workers со значениями как в 2-ом и 6-ом заданиях, и выводит для каждого сотрудника строку (то есть печатает её для каждого элемента списка)
user_name user_family is position
где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк
'junior' - стаж меньше 2 лет
'middle' - стаж больше либо равен 2 лет
'senior' - стаж больше 5 лет 
Пример данных, которые могут быть в workers
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]
Note: в этом задании нужно печатать эти строки

In [59]:
workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 5], ['Sidor', 'Sidorov', 200000, 10]]
for el in workers:
    if el[3] < 2:
        position = 'junior'
    elif el[3] <= 5:
        position = 'middle'
    else: 
        position = 'senior'
    print(f'Имя разработчика - {el[0]}, фамилия - {el[1]}, его позиция - {position}')

Имя разработчика - Ivan, фамилия - Ivanov, его позиция - junior
Имя разработчика - Petr, фамилия - Petrov, его позиция - middle
Имя разработчика - Sidor, фамилия - Sidorov, его позиция - senior