1) –ù–∞—á–Ω–µ–º —Å –ø—Ä–æ—Å—Ç–æ–≥–æ –≤–æ–ø—Ä–æ—Å–∞: —á—Ç–æ –ø—Ä–æ–∏–∑–æ–π–¥–µ—Ç –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è —Å–ª–µ–¥—É—é—â–µ–π –∫–æ–º–∞–Ω–¥—ã?
import pandas as pnds

2) –¢–µ–ø–µ—Ä—å –ø–æ—Ä–∞–±–æ—Ç–∞–µ–º —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –ø–æ–µ–∑–¥–∫–∞—Ö –Ω–∞ —Ç–∞–∫—Å–∏ –≤ –ù—å—é-–ô–æ—Ä–∫–µ, –≥–¥–µ —Ç–∞–∫–∂–µ –∏–º–µ–µ—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –ø–æ–≥–æ–¥–Ω—ã—Ö —É—Å–ª–æ–≤–∏—è—Ö –∏ –≤—ã—Ö–æ–¥–Ω—ã—Ö –¥–Ω—è—Ö.  
pickup_dt ‚Äì –ø–µ—Ä–∏–æ–¥ —Å —Ç–æ—á–Ω–æ—Å—Ç—å—é –¥–æ —á–∞—Å–∞
pickup_month ‚Äì –º–µ—Å—è—Ü
borough ‚Äì —Ä–∞–π–æ–Ω –ù—å—é-–ô–æ—Ä–∫–∞, –∏–∑ –∫–æ—Ç–æ—Ä–æ–≥–æ –±—ã–ª —Å–¥–µ–ª–∞–Ω –∑–∞–∫–∞–∑ (5 —Ä–∞–π–æ–Ω–æ–≤ + –∞—ç—Ä–æ–ø–æ—Ä—Ç)
pickups ‚Äì —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –∑–∞ –ø–µ—Ä–∏–æ–¥ (—á–∞—Å)
hday ‚Äì —è–≤–ª—è–µ—Ç—Å—è –ª–∏ –¥–µ–Ω—å –ø—Ä–∞–∑–¥–Ω–∏—á–Ω—ã–º/–≤—ã—Ö–æ–¥–Ω—ã–º; Y - –¥–∞,  N - –Ω–µ—Ç
spd ‚Äì —Å–∫–æ—Ä–æ—Å—Ç—å –≤–µ—Ç—Ä–∞ –≤ –º–∏–ª—è—Ö –≤ —á–∞—Å
vsb ‚Äì –≤–∏–¥–∏–º–æ—Å—Ç—å
temp ‚Äì —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –≤ –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç–∞
dewp ‚Äì —Ç–æ—á–∫–∞ —Ä–æ—Å—ã –ø–æ –§–∞—Ä–µ–Ω–≥–µ–π—Ç—É
slp ‚Äì –¥–∞–≤–ª–µ–Ω–∏–µ
pcp_01 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ —á–∞—Å
pcp_06 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ 6 —á–∞—Å–æ–≤
pcp_24 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ 24 —á–∞—Å–∞
sd ‚Äì –≥–ª—É–±–∏–Ω–∞ —Å–Ω–µ–≥–∞ –≤ –¥—é–π–º–∞—Ö
–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas, –∞ –∑–∞—Ç–µ–º –∑–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç 2_taxi_nyc (–Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –ø–∞–ø–∫–µ). –†–µ–∑—É–ª—å—Ç–∞—Ç —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é taxi.
–î–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ –¥–∞—Ç–∞—Å—ç—Ç–∞ –≤ pandas –ø–æ —Å—Å—ã–ª–∫–µ –ø—Ä–æ—Å—Ç–æ –≤—ã–ø–æ–ª–Ω–∏—Ç–µ pd.read_csv('path')

3) –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤ –∏–º–µ–µ—Ç—Å—è –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ.

4) –î–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∏–ø—ã –∫–æ–ª–æ–Ω–æ–∫. –í—Å–µ –ª–∏ –∏–∑ –Ω–∏—Ö —Å—á–∏—Ç–∞–ª–∏—Å—å –ø—Ä–∞–≤–∏–ª—å–Ω–æ? –ù–∞–∑–æ–≤–∏—Ç–µ —Ç–∏–ø, –ø—Ä–µ–æ–±–ª–∞–¥–∞—é—â–∏–π –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ.

5) –í –Ω–∞–∑–≤–∞–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ pcp 01, pcp 06, pcp 24 –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –ø—Ä–æ–±–µ–ª. –≠—Ç–æ –Ω–µ –æ—á–µ–Ω—å —É–¥–æ–±–Ω–æ, –µ—Å–ª–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –≤—ã –ø–ª–∞–Ω–∏—Ä—É–µ—Ç–µ –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫ –∫–æ–ª–æ–Ω–∫–∞–º —á–µ—Ä–µ–∑ —Ç–æ—á–∫—É, –±–µ–∑ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –∫–∞–≤—ã—á–µ–∫ –∏ —Å–∫–æ–±–æ—á–µ–∫. 
–ó–∞–º–µ–Ω–∏—Ç–µ –ø—Ä–æ–±–µ–ª –≤ –Ω–∞–∑–≤–∞–Ω–∏—è—Ö –Ω–∞ –∑–Ω–∞–∫ –Ω–∏–∂–Ω–µ–≥–æ –ø–æ–¥—á–µ—Ä–∫–∏–≤–∞–Ω–∏—è. 

6) –í–∞—Å –ø–æ–ø—Ä–æ—Å–∏–ª–∏ —É–∑–Ω–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∑–∞–ø–∏—Å–µ–π (—Å—Ç—Ä–æ–∫) –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ –æ—Ç–Ω–æ—Å—è—Ç—Å—è –∫ —Ä–∞–π–æ–Ω—É –ú–∞–Ω—Ö—ç—Ç—Ç–µ–Ω (Manhattan). –ü–æ–ª—É—á–∏—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –¥–∞–Ω–Ω—ã–π –≤–æ–ø—Ä–æ—Å –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã, –Ω–∞–ø—Ä–∏–º–µ—Ä, —Å –ø–æ–º–æ—â—å—é —Å–ª–µ–¥—É—é—â–µ–π –∫–æ–º–∞–Ω–¥—ã:
taxi.query("borough == 'Manhattan'").shape[0]
–ê –µ—Å–ª–∏ –º—ã —Ö–æ—Ç–∏–º –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å, —Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –∫–∞–∂–¥—ã–π –∏–∑ —Ä–∞–π–æ–Ω–æ–≤? –ù–µ—É–∂–µ–ª–∏ –ø—Ä–∏–¥–µ—Ç—Å—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–æ–¥–æ–±–Ω—É—é –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏—é –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —É—Ä–æ–≤–Ω—è –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π? –ó–¥–µ—Å—å –Ω–∞ –ø–æ–º–æ—â—å –ø—Ä–∏—Ö–æ–¥–∏—Ç –º–µ—Ç–æ–¥ value_counts(), –ø–æ–¥—Ä–æ–±–Ω–µ–µ –æ –∫–æ—Ç–æ—Ä–æ–º –º–æ–∂–Ω–æ –ø–æ—á–∏—Ç–∞—Ç—å –≤ –∫–æ–Ω—Å–ø–µ–∫—Ç–µ! 
–°–∫–æ–ª—å–∫–æ —Ä–∞–∑ –≤ –¥–∞–Ω–Ω—ã—Ö –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è —Ä–∞–π–æ–Ω –ë—Ä—É–∫–ª–∏–Ω (Brooklyn)?

7) –°–ª–µ–¥—É—é—â–∞—è –∑–∞–¥–∞—á–∞: –≤—ã—è—Å–Ω–∏—Ç—å, –∏–∑ –∫–∞–∫–æ–≥–æ —Ä–∞–π–æ–Ω–∞ –±—ã–ª–æ —Å–æ–≤–µ—Ä—à–µ–Ω–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–µ–∑–¥–æ–∫ –∑–∞ –≤–µ—Å—å –ø–µ—Ä–∏–æ–¥. 
–î–ª—è –Ω–∞—á–∞–ª–∞, –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–µ–∑–¥–æ–∫ (pickups), –±–µ–∑ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏.

8) –ê —Ç–µ–ø–µ—Ä—å —Å–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ —Ä–∞–π–æ–Ω—É (borough) –∏ —É–∫–∞–∂–∏—Ç–µ, –∏–∑ –∫–∞–∫–æ–≥–æ –ø—É–Ω–∫—Ç–∞ –±—ã–ª–æ —Å–æ–≤–µ—Ä—à–µ–Ω–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–æ–µ–∑–¥–æ–∫.

9) ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è
–ï—â–µ –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø–æ–ª–µ–∑–Ω—ã—Ö –º–µ—Ç–æ–¥–æ–≤ –≤ pandas! –í–æ–∑–º–æ–∂–Ω–æ, –≤ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —Å—Ç–µ–ø–µ –≤—ã –ø—Ä–æ—Å—Ç–æ –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏ –Ω–∞ –¥–∞–Ω–Ω—ã–µ –∏–ª–∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è. –£—Å–∫–æ—Ä–∏—Ç—å –¥–∞–Ω–Ω—ã–π –ø—Ä–æ—Ü–µ—Å—Å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –ø–æ–º–æ–≥—É—Ç –º–µ—Ç–æ–¥—ã idxmin() –∏ idxmax(), –∫–æ—Ç–æ—Ä—ã–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∏–Ω–¥–µ–∫—Å –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∏–ª–∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è.
–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —Ä–∞–π–æ–Ω–∞ —Å –Ω–∞–∏–º–µ–Ω—å—à–∏–º —á–∏—Å–ª–æ–º –ø–æ–µ–∑–¥–æ–∫ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é min_pickups, –ø—Ä–∏–º–µ–Ω–∏–≤ –ø–æ–¥—Ö–æ–¥—è—â–∏–π –º–µ—Ç–æ–¥.

10) –ü—Ä–æ–¥–æ–ª–∂–∏–º –∏–∑—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –≤ –≤—ã—Ö–æ–¥–Ω—ã–µ –¥–Ω–∏. –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –¥–≤—É–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º: —Ä–∞–π–æ–Ω—É –≥–æ—Ä–æ–¥–∞ –∏ —è–≤–ª—è–µ—Ç—Å—è –ª–∏ –¥–µ–Ω—å –≤—ã—Ö–æ–¥–Ω—ã–º (–∫–æ–ª–æ–Ω–∫–∏ borough –∏ hday). –°—Ä–∞–≤–Ω–∏—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫, –∏ –Ω–∞–∑–æ–≤–∏—Ç–µ —Ä–∞–π–æ–Ω—ã, –∏–∑ –∫–æ—Ç–æ—Ä—ã—Ö –ø–æ –ø—Ä–∞–∑–¥–Ω–∏–∫–∞–º –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–æ—Å—Ç—É–ø–∞–µ—Ç –±–æ–ª—å—à–µ –∑–∞–∫–∞–∑–æ–≤, —á–µ–º –≤ –æ–±—ã—á–Ω—ã–µ –¥–Ω–∏. 

11) –î–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä–∞–π–æ–Ω–∞ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –ø–æ –º–µ—Å—è—Ü–∞–º. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ —É–±—ã–≤–∞–Ω–∏—é –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ pickups_by_mon_bor. –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –∏—Ç–æ–≥–æ–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç –¥–æ–ª–∂–µ–Ω —Å–æ—Å—Ç–æ—è—Ç—å –∏–∑ 3-—Ö –∫–æ–ª–æ–Ω–æ–∫ ‚Äì pickup_month, borough, pickups.

12) üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ
–¢–µ–ø–µ—Ä—å –∑–∞–¥–∞—á–∞ –ø–æ—Å–ª–æ–∂–Ω–µ–µ! –ü–æ–ø—Ä–∞–∫—Ç–∏–∫—É–µ–º—Å—è –≤ –Ω–∞–ø–∏—Å–∞–Ω–∏–∏ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –∏ –∏—Ö –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–∏ –∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É. –ü–æ—Å–∫–æ–ª—å–∫—É –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–µ–∑–¥–∫–∞—Ö –≤ –ù—å—é-–ô–æ—Ä–∫–µ, —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –≤ –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç–∞. 
–ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é temp_to_celcius, –∫–æ—Ç–æ—Ä–∞—è –ø–æ–ª—É—á–∞–µ—Ç –Ω–∞ –≤—Ö–æ–¥ –∫–æ–ª–æ–Ω–∫—É —Å —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–æ–π –≤ ¬∞F, –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è, –ø–µ—Ä–µ–≤–µ–¥–µ–Ω–Ω—ã–µ –≤ –≥—Ä–∞–¥—É—Å—ã –¶–µ–ª—å—Å–∏—è.
–§–æ—Ä–º—É–ª–∞:

Celsius = ((Fahrenheit-32) *5.0)/(9.0)
 ‚Äã	
–ü—Ä–∏–º–µ—Ä —Ä–∞–±–æ—Ç—ã:
> taxi['temp'][:5]
0    30.0
1    30.0
3    30.0
4    30.0
5    30.0

> taxi['temp_C'] = temp_to_celcius(taxi['temp'])
> taxi['temp_C'][:5]
0   -1.111111
1   -1.111111
3   -1.111111
4   -1.111111
5   -1.111111

In [2]:
import pandas as pd
import numpy as np

In [3]:
taxi = pd.read_csv('2_taxi_nyc.csv')

In [4]:
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

2) –¢–µ–ø–µ—Ä—å –ø–æ—Ä–∞–±–æ—Ç–∞–µ–º —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –ø–æ–µ–∑–¥–∫–∞—Ö –Ω–∞ —Ç–∞–∫—Å–∏ –≤ –ù—å—é-–ô–æ—Ä–∫–µ, –≥–¥–µ —Ç–∞–∫–∂–µ –∏–º–µ–µ—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –ø–æ–≥–æ–¥–Ω—ã—Ö —É—Å–ª–æ–≤–∏—è—Ö –∏ –≤—ã—Ö–æ–¥–Ω—ã—Ö –¥–Ω—è—Ö.
pickup_dt ‚Äì –ø–µ—Ä–∏–æ–¥ —Å —Ç–æ—á–Ω–æ—Å—Ç—å—é –¥–æ —á–∞—Å–∞ pickup_month ‚Äì –º–µ—Å—è—Ü borough ‚Äì —Ä–∞–π–æ–Ω –ù—å—é-–ô–æ—Ä–∫–∞, –∏–∑ –∫–æ—Ç–æ—Ä–æ–≥–æ –±—ã–ª —Å–¥–µ–ª–∞–Ω –∑–∞–∫–∞–∑ (5 —Ä–∞–π–æ–Ω–æ–≤ + –∞—ç—Ä–æ–ø–æ—Ä—Ç) pickups ‚Äì —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –∑–∞ –ø–µ—Ä–∏–æ–¥ (—á–∞—Å) hday ‚Äì —è–≤–ª—è–µ—Ç—Å—è –ª–∏ –¥–µ–Ω—å –ø—Ä–∞–∑–¥–Ω–∏—á–Ω—ã–º/–≤—ã—Ö–æ–¥–Ω—ã–º; Y - –¥–∞, N - –Ω–µ—Ç spd ‚Äì —Å–∫–æ—Ä–æ—Å—Ç—å –≤–µ—Ç—Ä–∞ –≤ –º–∏–ª—è—Ö –≤ —á–∞—Å vsb ‚Äì –≤–∏–¥–∏–º–æ—Å—Ç—å temp ‚Äì —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –≤ –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç–∞ dewp ‚Äì —Ç–æ—á–∫–∞ —Ä–æ—Å—ã –ø–æ –§–∞—Ä–µ–Ω–≥–µ–π—Ç—É slp ‚Äì –¥–∞–≤–ª–µ–Ω–∏–µ pcp_01 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ —á–∞—Å pcp_06 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ 6 —á–∞—Å–æ–≤ pcp_24 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ 24 —á–∞—Å–∞ sd ‚Äì –≥–ª—É–±–∏–Ω–∞ —Å–Ω–µ–≥–∞ –≤ –¥—é–π–º–∞—Ö –ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas, –∞ –∑–∞—Ç–µ–º –∑–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç 2_taxi_nyc (–Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –ø–∞–ø–∫–µ). –†–µ–∑—É–ª—å—Ç–∞—Ç —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é taxi. –î–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ –¥–∞—Ç–∞—Å—ç—Ç–∞ –≤ pandas –ø–æ —Å—Å—ã–ª–∫–µ –ø—Ä–æ—Å—Ç–æ –≤—ã–ø–æ–ª–Ω–∏—Ç–µ pd.read_csv('path')

3) –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤ –∏–º–µ–µ—Ç—Å—è –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ.

In [5]:
taxi.shape

(29101, 14)

4) –î–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∏–ø—ã –∫–æ–ª–æ–Ω–æ–∫. –í—Å–µ –ª–∏ –∏–∑ –Ω–∏—Ö —Å—á–∏—Ç–∞–ª–∏—Å—å –ø—Ä–∞–≤–∏–ª—å–Ω–æ? –ù–∞–∑–æ–≤–∏—Ç–µ —Ç–∏–ø, –ø—Ä–µ–æ–±–ª–∞–¥–∞—é—â–∏–π –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ.

In [6]:
taxi.dtypes.value_counts()
#–ü—Ä–µ–æ–±–ª–∞–¥–∞—é—â–∏–º –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ —è–≤–ª—è–µ—Ç—Å—è —Ç–∏–ø float64

float64    9
object     4
int64      1
dtype: int64

5) –í –Ω–∞–∑–≤–∞–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ pcp 01, pcp 06, pcp 24 –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –ø—Ä–æ–±–µ–ª. –≠—Ç–æ –Ω–µ –æ—á–µ–Ω—å —É–¥–æ–±–Ω–æ, –µ—Å–ª–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –≤—ã –ø–ª–∞–Ω–∏—Ä—É–µ—Ç–µ –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫ –∫–æ–ª–æ–Ω–∫–∞–º —á–µ—Ä–µ–∑ —Ç–æ—á–∫—É, –±–µ–∑ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –∫–∞–≤—ã—á–µ–∫ –∏ —Å–∫–æ–±–æ—á–µ–∫. –ó–∞–º–µ–Ω–∏—Ç–µ –ø—Ä–æ–±–µ–ª –≤ –Ω–∞–∑–≤–∞–Ω–∏—è—Ö –Ω–∞ –∑–Ω–∞–∫ –Ω–∏–∂–Ω–µ–≥–æ –ø–æ–¥—á–µ—Ä–∫–∏–≤–∞–Ω–∏—è.

In [7]:
def replace_space(name):
    return name.replace(' ','_')
taxi.rename(columns = replace_space)
#taxi.rename(columns = {'pcp 01':'pcp_01', 'pcp 06':'pcp_06', 'pcp 24':'pcp_24'})

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

6) –í–∞—Å –ø–æ–ø—Ä–æ—Å–∏–ª–∏ —É–∑–Ω–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∑–∞–ø–∏—Å–µ–π (—Å—Ç—Ä–æ–∫) –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ –æ—Ç–Ω–æ—Å—è—Ç—Å—è –∫ —Ä–∞–π–æ–Ω—É –ú–∞–Ω—Ö—ç—Ç—Ç–µ–Ω (Manhattan). –ü–æ–ª—É—á–∏—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –¥–∞–Ω–Ω—ã–π –≤–æ–ø—Ä–æ—Å –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã, –Ω–∞–ø—Ä–∏–º–µ—Ä, —Å –ø–æ–º–æ—â—å—é —Å–ª–µ–¥—É—é—â–µ–π –∫–æ–º–∞–Ω–¥—ã: taxi.query("borough == 'Manhattan'").shape[0] –ê –µ—Å–ª–∏ –º—ã —Ö–æ—Ç–∏–º –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å, —Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –∫–∞–∂–¥—ã–π –∏–∑ —Ä–∞–π–æ–Ω–æ–≤? –ù–µ—É–∂–µ–ª–∏ –ø—Ä–∏–¥–µ—Ç—Å—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–æ–¥–æ–±–Ω—É—é –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏—é –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —É—Ä–æ–≤–Ω—è –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π? –ó–¥–µ—Å—å –Ω–∞ –ø–æ–º–æ—â—å –ø—Ä–∏—Ö–æ–¥–∏—Ç –º–µ—Ç–æ–¥ value_counts(), –ø–æ–¥—Ä–æ–±–Ω–µ–µ –æ –∫–æ—Ç–æ—Ä–æ–º –º–æ–∂–Ω–æ –ø–æ—á–∏—Ç–∞—Ç—å –≤ –∫–æ–Ω—Å–ø–µ–∫—Ç–µ! –°–∫–æ–ª—å–∫–æ —Ä–∞–∑ –≤ –¥–∞–Ω–Ω—ã—Ö –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è —Ä–∞–π–æ–Ω –ë—Ä—É–∫–ª–∏–Ω (Brooklyn)?

In [8]:
# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ 
taxi[taxi['borough'] == 'Brooklyn']['borough'].count()

4343

7) –°–ª–µ–¥—É—é—â–∞—è –∑–∞–¥–∞—á–∞: –≤—ã—è—Å–Ω–∏—Ç—å, –∏–∑ –∫–∞–∫–æ–≥–æ —Ä–∞–π–æ–Ω–∞ –±—ã–ª–æ —Å–æ–≤–µ—Ä—à–µ–Ω–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–µ–∑–¥–æ–∫ –∑–∞ –≤–µ—Å—å –ø–µ—Ä–∏–æ–¥. –î–ª—è –Ω–∞—á–∞–ª–∞, –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–µ–∑–¥–æ–∫ (pickups), –±–µ–∑ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏.

8) –ê —Ç–µ–ø–µ—Ä—å —Å–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ —Ä–∞–π–æ–Ω—É (borough) –∏ —É–∫–∞–∂–∏—Ç–µ, –∏–∑ –∫–∞–∫–æ–≥–æ –ø—É–Ω–∫—Ç–∞ –±—ã–ª–æ —Å–æ–≤–µ—Ä—à–µ–Ω–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–æ–µ–∑–¥–æ–∫.

In [ ]:
taxi_pickups = taxi.pickups.sum()

In [18]:
taxi.groupby('borough', as_index = False)\
.aggregate({'pickups' : 'sum'})\
.sort_values(by = 'pickups', ascending = False)

         borough   pickups
3      Manhattan  10367841
1       Brooklyn   2321035
4         Queens   1343528
0          Bronx    220047
5  Staten Island      6957
2            EWR       105

In [11]:
group_taxi = taxi.groupby('borough', as_index = False)\
.aggregate({'pickups' : 'sum'})\
.sort_values(by = 'pickups', ascending = False)

result = group_taxi.pickups.sum()

In [12]:
if result == taxi_pickups:
    print('Ok')
else:
    print("ERROR, –≤ —Å–ø–∏—Å–∫–µ —Å—É—â–µ—Å—Ç–≤—É—é—Ç –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Ä–∞–π–æ–Ω–æ–≤")

ERROR, –≤ —Å–ø–∏—Å–∫–µ —Å—É—â–µ—Å—Ç–≤—É—é—Ç –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Ä–∞–π–æ–Ω–æ–≤

9) ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è –ï—â–µ –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø–æ–ª–µ–∑–Ω—ã—Ö –º–µ—Ç–æ–¥–æ–≤ –≤ pandas! –í–æ–∑–º–æ–∂–Ω–æ, –≤ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —Å—Ç–µ–ø–µ –≤—ã –ø—Ä–æ—Å—Ç–æ –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏ –Ω–∞ –¥–∞–Ω–Ω—ã–µ –∏–ª–∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è. –£—Å–∫–æ—Ä–∏—Ç—å –¥–∞–Ω–Ω—ã–π –ø—Ä–æ—Ü–µ—Å—Å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –ø–æ–º–æ–≥—É—Ç –º–µ—Ç–æ–¥—ã idxmin() –∏ idxmax(), –∫–æ—Ç–æ—Ä—ã–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∏–Ω–¥–µ–∫—Å –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∏–ª–∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è. –°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —Ä–∞–π–æ–Ω–∞ —Å –Ω–∞–∏–º–µ–Ω—å—à–∏–º —á–∏—Å–ª–æ–º –ø–æ–µ–∑–¥–æ–∫ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é min_pickups, –ø—Ä–∏–º–µ–Ω–∏–≤ –ø–æ–¥—Ö–æ–¥—è—â–∏–π –º–µ—Ç–æ–¥.

In [13]:
min_pickups = taxi.groupby('borough').agg({'pickups' : 'sum'}).idxmin()
min_pickups

pickups    EWR
dtype: object

10) –ü—Ä–æ–¥–æ–ª–∂–∏–º –∏–∑—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –≤ –≤—ã—Ö–æ–¥–Ω—ã–µ –¥–Ω–∏. –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –¥–≤—É–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º: —Ä–∞–π–æ–Ω—É –≥–æ—Ä–æ–¥–∞ –∏ —è–≤–ª—è–µ—Ç—Å—è –ª–∏ –¥–µ–Ω—å –≤—ã—Ö–æ–¥–Ω—ã–º (–∫–æ–ª–æ–Ω–∫–∏ borough –∏ hday). –°—Ä–∞–≤–Ω–∏—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫, –∏ –Ω–∞–∑–æ–≤–∏—Ç–µ —Ä–∞–π–æ–Ω—ã, –∏–∑ –∫–æ—Ç–æ—Ä—ã—Ö –ø–æ –ø—Ä–∞–∑–¥–Ω–∏–∫–∞–º –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–æ—Å—Ç—É–ø–∞–µ—Ç –±–æ–ª—å—à–µ –∑–∞–∫–∞–∑–æ–≤, —á–µ–º –≤ –æ–±—ã—á–Ω—ã–µ –¥–Ω–∏.

In [14]:
# –≠—Ç–æ—Ç –∫—É—Å–æ–∫ –∫–æ–¥–∞ –±—É–¥–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å —Ç–æ–ª—å–∫–æ –≤ —Ç–æ–º —Å–ª—É—á–∞–µ, –µ—Å–ª–∏ –∫–∞–∂–¥–æ–º—É —Ä–∞–π–æ–Ω—É –±—É–¥—É—Ç —Å–æ–ø–æ—Å—Ç–∞–≤–ª–µ–Ω—ã –¥–∞–Ω–Ω—ã–µ –æ –ø—Ä–∞–∑–¥–Ω–∏—á–Ω–æ–º –¥–Ω–µ –∏–ª–∏ –Ω–µ—Ç. 
#–ï—Å–ª–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä, —É –ë—Ä–æ–Ω–∫—Å–∞ –Ω–µ –±—ã–ª–æ –±—ã –¥–∞–Ω–Ω—ã—Ö –æ –ø—Ä–∞–∑–¥–Ω–∏—á–Ω—ã—Ö –¥–Ω—è—Ö, —Ç–æ –∫—Ä—è–∫. –ù–æ –¥–∞–Ω–Ω—ã–µ –≤—ã–≤–æ–¥—è—Ç—Å—è –Ω–æ—Ä–º. 
taxi_new_df, i = taxi.groupby(['borough', 'hday'], as_index = False)\
                     .aggregate({'pickups' : 'mean'}), 0

for i in range(0, len(taxi_new_df.pickups) - 1 , 2):
    if taxi_new_df.pickups[i] < taxi_new_df.pickups[i+1]:
        print(taxi_new_df.borough[i])

EWR
Queens

In [15]:
taxi_new_df

          borough hday      pickups
0           Bronx    N    50.771073
1           Bronx    Y    48.065868
2        Brooklyn    N   534.727969
3        Brooklyn    Y   527.011976
4             EWR    N     0.023467
5             EWR    Y     0.041916
6       Manhattan    N  2401.302921
7       Manhattan    Y  2035.928144
8          Queens    N   308.899904
9          Queens    Y   320.730539
10  Staten Island    N     1.606082
11  Staten Island    Y     1.497006

11) –î–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä–∞–π–æ–Ω–∞ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –ø–æ –º–µ—Å—è—Ü–∞–º. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ —É–±—ã–≤–∞–Ω–∏—é –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ pickups_by_mon_bor. –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –∏—Ç–æ–≥–æ–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç –¥–æ–ª–∂–µ–Ω —Å–æ—Å—Ç–æ—è—Ç—å –∏–∑ 3-—Ö –∫–æ–ª–æ–Ω–æ–∫ ‚Äì pickup_month, borough, pickups.

In [16]:
taxi.groupby(['borough', 'pickup_month'], as_index = False).agg({'pickups' : 'sum'}).sort_values(by = 'pickups', ascending = False)

          borough pickup_month  pickups
21      Manhattan          Jun  1995388
23      Manhattan          May  1888800
19      Manhattan          Feb  1718571
22      Manhattan          Mar  1661261
18      Manhattan          Apr  1648278
20      Manhattan          Jan  1455543
9        Brooklyn          Jun   482466
11       Brooklyn          May   476087
6        Brooklyn          Apr   378095
10       Brooklyn          Mar   346726
7        Brooklyn          Feb   328650
8        Brooklyn          Jan   309011
27         Queens          Jun   286311
29         Queens          May   275893
28         Queens          Mar   219561
24         Queens          Apr   216857
25         Queens          Feb   185695
26         Queens          Jan   159211
5           Bronx          May    53037
3           Bronx          Jun    49006
0           Bronx          Apr    34617
4           Bronx          Mar    32232
1           Bronx          Feb    28694
2           Bronx          Jan    22461
33  Staten Island          Jun     1673
35  Staten Island          May     1517
30  Staten Island          Apr     1068
34  Staten Island          Mar      975
31  Staten Island          Feb      903
32  Staten Island          Jan      821
15            EWR          Jun       29
17            EWR          May       27
16            EWR          Mar       14
13            EWR          Feb       14
14            EWR          Jan       11
12            EWR          Apr       10

12) üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ –¢–µ–ø–µ—Ä—å –∑–∞–¥–∞—á–∞ –ø–æ—Å–ª–æ–∂–Ω–µ–µ! –ü–æ–ø—Ä–∞–∫—Ç–∏–∫—É–µ–º—Å—è –≤ –Ω–∞–ø–∏—Å–∞–Ω–∏–∏ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –∏ –∏—Ö –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–∏ –∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É. –ü–æ—Å–∫–æ–ª—å–∫—É –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–µ–∑–¥–∫–∞—Ö –≤ –ù—å—é-–ô–æ—Ä–∫–µ, —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –≤ –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç–∞. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é temp_to_celcius, –∫–æ—Ç–æ—Ä–∞—è –ø–æ–ª—É—á–∞–µ—Ç –Ω–∞ –≤—Ö–æ–¥ –∫–æ–ª–æ–Ω–∫—É —Å —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–æ–π –≤ ¬∞F, –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è, –ø–µ—Ä–µ–≤–µ–¥–µ–Ω–Ω—ã–µ –≤ –≥—Ä–∞–¥—É—Å—ã –¶–µ–ª—å—Å–∏—è. –§–æ—Ä–º—É–ª–∞:

Celsius = ((Fahrenheit-32) *5.0)/(9.0)‚Äã
–ü—Ä–∏–º–µ—Ä —Ä–∞–±–æ—Ç—ã:

taxi['temp'][:5] 0 30.0 1 30.0 3 30.0 4 30.0 5 30.0

taxi['temp_C'] = temp_to_celcius(taxi['temp']) taxi['temp_C'][:5] 0 -1.111111 1 -1.111111 3 -1.111111 4 -1.111111 5 -1.111111

In [17]:
taxi

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

In [19]:
def temp_to_celcius(Fahrenheit):
    return ((Fahrenheit-32) *5.0)/(9.0)

In [22]:
temp_to_celcius(taxi.temp)

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64